<!DOCTYPE html>
<html>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<!-- <link rel="stylesheet" type="text/css" href="./style.css"> -->
<body>

<form action="/admin/submit" method="post">
	<div>
	<label>Video ID:</label>
	<input type="text" name="videoID"/><br/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>
</form>

<form action="/admin/remove" method="post">
	<div>
	<label>Video ID:</label>
	<input type="text" name="videoID"/><br/>
	</div>
	<div>
	<input type="submit" value="Remove"/>
	</div>
</form>

<table id="videoTable" cellspacing="5">
	<tr>
	   <th>Controls</th>
	   <!-- The stats button should expand and show full statistics for a video.  We can hide some of the stats that show by default, or add more -->
	   <th>ID</th>
	   <th>Thumbnail</th>
	   <th>Title</th>
	   <th>Views</th>
	   <th>Skip %</th>
	   <th>Error %</th>
 	</tr>
</table>	

<script type="text/javascript">
	$(function(){
	   	$.getJSON("./api/getvidrange/1/50", function(videos) {
	   		console.log(videos);
			$.each(videos, function(key, value) {
			$('<tr>').append(
				$('<td>').text("Buttons go here"),
				$('<td>').text(value.videoID),
				$('<td>').html('<img src="http://i.ytimg.com/vi/' + value.videoID + '/default.jpg" />'),
				$('<td>').text("Title goes here"),
				$('<td>').text("Views here"),
				$('<td>').text("Skip goes here"),
				$('<td>').text("Error goes here")
			).appendTo( "#videoTable" );
			});
	    });
 	 });
</script>

</body>
</html>
