<!DOCTYPE html>
<html>
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<!-- <link rel="stylesheet" type="text/css" href="./style.css"> -->
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<body>

<form action="/admin/submit" method="post" class="pure-form">
	<span>
	<label>Video ID:</label>
	<input type="text" name="videoID"/>
	<input type="submit" value="Submit" class="pure-button"/>
	</span>
</form>


<form action="/admin/remove" method="post" class="pure-form">
	<span>
	<label>Video ID:</label>
	<input type="text" name="videoID"/>
	<input type="submit" value="Remove" class="pure-button"/>
	</span>
</form>

<table id="videoTable" cellspacing="5" class="pure-table">
	<tr>
	   <th>Controls</th>
	   <!-- The stats button should expand and show full statistics for a video.  We can hide some of the stats that show by default, or add more -->
	   <th>ID</th>
	   <th>Thumbnail</th>
	   <th>Title</th>
	   <th>Views</th>
	   <th>Skip %</th>
	   <th>Error %</th>
 	</tr>
</table>

<br />

<input id="previousbutton" type="button" value="Previous">
<input id="nextbutton" type="button" value="Next">

<br />

<script type="text/javascript">
	var currentVideoID = 1;

	$(function(){
	   	$.getJSON("./api/getvidrange/" + currentVideoID.toString() + "/" + (currentVideoID + 49).toString(), function(videos) {
	   		console.log(videos);
			$.each(videos, function(key, value) {
			$('<tr>').append(
				$('<td>').append(
					$('<form>').attr({"action": "/admin/remove", "method": "post"}).append(
						$('<input>').attr({"type": "hidden", "name": "videoID", "value": "value.videoID"}),
						$('<input>').attr({"type": "submit", "value": "Delete Video"})
					)
				),
				$('<td>').text(value.videoID),
				$('<td>').html('<img src="http://i.ytimg.com/vi/' + value.videoID + '/default.jpg" />'),
				$('<td>').text("Title goes here"),
				$('<td>').text("Views here"),
				$('<td>').text("Skip goes here"),
				$('<td>').text("Error goes here")
			).appendTo( "#videoTable" );
			});
	    });
 	 });
	 
	 $('#nextbutton').click(function(){
		if(currentVideoID < 100){
			$('#videoTable td').remove();
			currentVideoID += 50;
			$(function(){
				$.getJSON("./api/getvidrange/" + currentVideoID.toString() + "/" + (currentVideoID + 49).toString(), function(videos) {
					console.log(videos);
					$.each(videos, function(key, value) {
					$('<tr>').append(
						$('<td>').append(
							$('<form>').attr({"action": "/admin/remove", "method": "post"}).append(
								$('<input>').attr({"type": "hidden", "name": "videoID", "value": "value.videoID"}),
								$('<input>').attr({"type": "submit", "value": "Delete Video"})
							)
						),
						$('<td>').text(value.videoID),
						$('<td>').html('<img src="http://i.ytimg.com/vi/' + value.videoID + '/default.jpg" />'),
						$('<td>').text("Title goes here"),
						$('<td>').text("Views here"),
						$('<td>').text("Skip goes here"),
						$('<td>').text("Error goes here")
					).appendTo( "#videoTable" );
					});
				});
			});
		}
	 });
	 
	 $('#previousbutton').click(function(){
		if(currentVideoID > 50){
			$('#videoTable td').remove();
			currentVideoID -= 50;
			$(function(){
				$.getJSON("./api/getvidrange/" + currentVideoID.toString() + "/" + (currentVideoID + 49).toString(), function(videos) {
					console.log(videos);
					$.each(videos, function(key, value) {
					$('<tr>').append(
						$('<td>').append(
							$('<form>').attr({"action": "/admin/remove", "method": "post"}).append(
								$('<input>').attr({"type": "hidden", "name": "videoID", "value": "value.videoID"}),
								$('<input>').attr({"type": "submit", "value": "Delete Video"})
							)
						),
						$('<td>').text(value.videoID),
						$('<td>').html('<img src="http://i.ytimg.com/vi/' + value.videoID + '/default.jpg" />'),
						$('<td>').text("Title goes here"),
						$('<td>').text("Views here"),
						$('<td>').text("Skip goes here"),
						$('<td>').text("Error goes here")
					).appendTo( "#videoTable" );
					});
				});
			});
		}
	 });
	 
	function loadNextPage() {
          $.getJSON("./api/getrandomvid", function(vid) {
            console.log(vid);
            jQuery("#youtube-player-container").tubeplayer("play", vid.vidID);
          });
        }

</script>

</body>
</html>
