<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
 	<link rel="stylesheet" type="text/css" href="/css/newstyle.css">
	<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
</head>
<!-- <link rel="stylesheet" type="text/css" href="./style.css"> -->
<body>

<div id='navbar'>
  <ul>
    <li><a href='/'><span>Home</span></a></li>
    <li><a href='/about'><span>About Us</span></a></li>
    <%if (user) { %>
      <%if (user.admin) { %>
        <li class='active'><a href='/admin'><span>Admin Panel</span></a></li>
      <% } %>
      <li><a href='/history'><span>View History</span></a></li>
      <li><a href="/logout"> Logout </a></li>
      <li><p> Username: <%= user.username %> </p></li>
    <% } %>
    <%if (!user) { %>
      <li><a href='/login'><span>Log In</span></a></li>
      <li><a href='/register'><span>Register</span></a></li>
    <% } %>
   </ul>
</div>

<form action="/admin/submit" method="post" class="pure-form">
	<span>
	<label>Video ID:</label>
	<input type="text" name="videoID"/>
	<input type="submit" value="Submit" class="pure-button"/>
	</span>
</form>

<form action="/admin/remove" method="post" class="pure-form">
	<span>
	<label>Video ID:</label>
	<input type="text" name="videoID"/>
	<input type="submit" value="Remove" class="pure-button"/>
	</span>
</form>

<form action="/admin/crawlreddit" method="get" class="pure-form">
	<input type="submit" value="Crawl /r/DeepIntoYoutube" class="pure-button"/>
	</span>
</form>
<br>

<p id="vidRange">No videos loaded</p>
<input id="previousButtonTop" type="button" value="Previous Page">
<input id="nextButtonTop" type="button" value="Next Page">

<table id="videoTable" cellspacing="5" class="table">
	<tr id="tableheader">
	   <td class = "header-cell">Controls</td>
	   <!-- The stats button should expand and show full statistics for a video.  We can hide some of the stats that show by default, or add more -->
	   <td class = "header-cell"> ID</td>
	   <td class = "header-cell">Thumbnail</td>
	   <td class = "header-cell">Title</td>
	   <td class = "header-cell">Views</td>
	   <td class = "header-cell">Skip %</td>
	   <td class = "header-cell">Error %</td>
 	</tr>
</table>

<br />

<input id="previousButtonBottom" type="button" value="Previous Page">
<input id="nextButtonBottom" type="button" value="Next Page">

<br />

<script type="text/javascript" src="admin.js"></script>

</body>
</html>
