<!DOCTYPE html>
<html>
<script type='text/javascript' src='./jquery-2.1.4.min.js'></script>
<!-- <link rel="stylesheet" type="text/css" href="./style.css"> -->
<body>

<table id="videoTable" cellspacing="5">
	<tr>
	   <th>Controls</th>
	   <!-- The stats button should expand and show full statistics for a video.  We can hide some of the stats that show by default, or add more -->
	   <th>ID</th>
	   <th>Thumbnail</th>
	   <th>Title</th>
	   <th>Views</th>
	   <th>Skip %</th>
	   <th>Error %</th>
 	</tr>
</table>	

<script type="text/javascript">
	console.log("Just started!");


	$(function(){
		console.log("The document's ready!");
	   	$.getJSON("./api/getvidsfrom/1/50", function(videos) {
	   		console.log(videos);
	      $.each(videos, function(key, value) {
	      	var $tr = $('<tr>').append(
	        	$('<td>').text("Buttons go here"),
	        	$('<td>').text(value.vidID),
	        	$('<td>').html('<img src="http://i.ytimg.com/vi/' + value.vidID + '/default.jpg" />'),
	        	$('<td>').text("Title goes here"),
	        	$('<td>').text("Views here"),
	        	$('<td>').text("Skip goes here"),
	        	$('<td>').text("Error goes here")
	        ).appendTo( "#videoTable" );
	        console.log($tr.wrap('<p>').html());
	    	});
	    });
 	 });
</script>

</body>
</html>
