body {
    color: purple;
	background: -webkit-radial-gradient(red, green, blue); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(red, green, blue); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(red, green, blue); /* For Firefox 3.6 to 15 */
    background: radial-gradient(red, green, blue); /* Standard syntax (must be last) */
    text-align: center ;
}

#youtube-player-container {
    margin: auto;
    width: 50%;
    border:3px solid #8AC007;
    border-style: dotted solid;
    /*padding: 50%;*/
}

h1{
	font-family: 'Damion', cursive;
	font-size: 72px;

}