<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="./css/newstyle.css">
<div id='navbar'>
  <ul>
    <li><a href='/'><span>Home</span></a></li>
    <li class='active'><a href='/about'><span>About Us</span></a></li>
    <%if (user) { %>
      <%if (user.admin) { %>
        <li><a href='/admin'><span>Admin Panel</span></a></li>
      <% } %>
      <li><a href='/history'><span>View History</span></a></li>
      <li><a href="/logout"> Logout </a></li>
      <li><p> Username: <%= user.username %> </p></li>
    <% } %>
    <%if (!user) { %>
      <li><a href='/login'><span>Log In</span></a></li>
      <li><a href='/register'><span>Register</span></a></li>
    <% } %>
   </ul>
</div>

<br>
<br>
<br>

<body>
	<div  id='textbox'>
		<div  id='title'>
			<h1>About Us!</h1>
		<div  id='textbody'>
			<p>Hello! Welcome to The Weird Side of YouTube! We are an open-source project started by members of Alpha Chi Rho fraternity at Rensselaer Polytechnic Institute in Troy New York. 
			<br>
			<br>
			The current team is comprised of Erik Baktis, Matt Zielinski, and Mike Metrocavich. Past members include Jake Martin Ashwin Raghuraman, and Alex Metrocavich
			<br>	
			<br>
			If you would like to learn more about RCOS at RPI or any of the oher active projects, visit
		<a href="https://rcos.io">our web page.</a></p>
		</div>
		</div>
	</div>	

	<div id='bg_image'>
	</div>
</body>
</html>