<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./css/newstyle.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">
</head>
<body>
  <div class="custom-menu-wrapper">
	  <div class="pure-menu custom-menu">
	    <a href="/" class="pure-menu-heading custom-menu-brand">Home</a>
	    <a href="#" class="custom-menu-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
	  </div>
	  <div class="pure-menu pure-menu-horizontal pure-menu-scrollable custom-menu custom-menu-bottom custom-menu-tucked" id="tuckedMenu">
	    <div class="custom-menu-screen"></div>
	    <ul class="pure-menu-list">
	      <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About Us</a></li>
	      <%if (user) { %>
	        <%if (user.admin) { %>
	          <li class="pure-menu-item"><a href="/admin" class="pure-menu-link">Admin Panel</a></li>
	        <% } %>
	        <li class="pure-menu-item"><a href="/history" class="pure-menu-link">View History</a></li>
	        <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>
	        <li class="pure-menu-item"><a class="pure-menu-link custom-menu-brand"> Username: <%= user.username %> </a></li>
	      <% } %>
	      <%if (!user) { %>
	        <li class="pure-menu-item"><a href="/login" class="pure-menu-link">Login</a></li>
	        <li class="pure-menu-item"><a href="/register" class="pure-menu-link">Register</a></li>
	      <% } %>
	    </ul>
	  </div>
	</div>
	<script>
	(function (window, document) {
	document.getElementById('toggle').addEventListener('click', function (e) {
	    document.getElementById('tuckedMenu').classList.toggle('custom-menu-tucked');
	    document.getElementById('toggle').classList.toggle('x');
	});
	})(this, this.document);
</script>
<br>
<br>
<br>
	<div  id='textbox'>
		<div  id='title'>
			<h1>About Us!</h1>
		<div  id='textbody'>
			<p>Hello! Welcome to The Weird Side of YouTube! We are an open-source project started by members of Alpha Chi Rho fraternity at Rensselaer Polytechnic Institute in Troy New York. If you're an avid fan of random and wierd Youtube videos, you're at the right place.
			<br>
			<br>
			The current team is comprised of Mike Metrocavich, Colin Atkinson, Jacob Lane, Nathan Siviy, YoungChul Chun, James Lee.
			<br>
      <br>
			Past members include Erik Baktis, Matt Zielinski, Jake Martin, Ashwin Raghuraman, and Alex Metrocavich.
			<br>
			<br>
			If you would like to learn more about RCOS at RPI or any of the oher active projects, visit
		<a href="https://rcos.io">our web page.</a></p>
		</div>
    </div>
    <div id='title'>
      <h2>In Memory of Michael Metrocavich</h2>
    <div id='textbody'>
    <!-- In honor of mike -->
      <p>Michael Metrocavich has recently passed away on February 23, 2017. He was the main contributor and inspiration for the undertaking of this open source project. Michael was a brilliant, kind and quirky person. He would always look for something interesting to happen or create interesting situations himself. Whether it was putting every single non-microwavable thing in the microwave or instigating a debate on a controversial topic, he always had fun. Michael will be missed by our team, his fraternity, and the entirety of the RCOS and RPI community.</p>
      <!-- add picture of mike here -->
    </div>
		</div>
	</div>
</body>
</html>
