<!DOCTYPE html>
<html>
<head>
<title>Video History</title>
<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/newstyle.css">
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
</head>

<!-- <link rel="stylesheet" type="text/css" href="./style.css"> -->
<body>

  <div class="custom-menu-wrapper">
    <div class="pure-menu custom-menu">
      <a href="/" class="pure-menu-heading custom-menu-brand">Home</a>
      <a href="#" class="custom-menu-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
    </div>
    <div class="pure-menu pure-menu-horizontal pure-menu-scrollable custom-menu custom-menu-bottom custom-menu-tucked" id="tuckedMenu">
      <div class="custom-menu-screen"></div>
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About Us</a></li>
        <%if (user) { %>
          <%if (user.admin) { %>
            <li class="pure-menu-item"><a href="/admin" class="pure-menu-link">Admin Panel</a></li>
          <% } %>
          <li class="pure-menu-item"><a href="/history" class="pure-menu-link">View History</a></li>
          <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>
          <li class="pure-menu-item"><a class="custom-menu-brand"><p> Username: <%= user.username %> </p></a></li>
        <% } %>
        <%if (!user) { %>
          <li class="pure-menu-item"><a href="/login" class="pure-menu-link">Login</a></li>
          <li class="pure-menu-item"><a href="/register" class="pure-menu-link">Register</a></li>
        <% } %>
      </ul>
    </div>
  </div>
  <script>
  (function (window, document) {
  document.getElementById('toggle').addEventListener('click', function (e) {
      document.getElementById('tuckedMenu').classList.toggle('custom-menu-tucked');
      document.getElementById('toggle').classList.toggle('x');
  });
  })(this, this.document);
  </script>

<table id="videoTable" cellspacing="5" class="table">
	<tr id="tableheader">
    <td class = "header-cell"> ID</td>
	  <td class = "header-cell">Thumbnail</td>
	  <td class = "header-cell">Title</td>
	  <td class = "header-cell"> Date</td>
 	</tr>
</table>

<script type="text/javascript">
	var currentVideoID = 1;

	function loadNewTable(){
		$.getJSON("/api/gethistory/", function(videos) {
			$.each(videos, function(key, value) {
				$('<tr id="' + value.videoID + '" class="videoRow">').append(
          $('<td class = "data-cell">').html('<a href="http://www.youtube.com/watch?v=' +
          value.videoID + '">' + value.videoID + '</a>'),
					$('<td class = "data-cell">').html('<img src="//i.ytimg.com/vi/' + value.videoID + '/default.jpg" />'),
					$('<td class = "data-cell">').attr("id", "title"),
					$('<td class = "data-cell">').text(value.time)
				).appendTo( "#videoTable" );
				$.getJSON("/api/getVidInfo/" + value.videoID, function(data) {
					$('#videoTable').find('#'+value.videoID).find('#title').text(data.items[0].snippet.title);
				});
			});
		});
	}

	loadNewTable();
</script>

</body>
</html>
