<!DOCTYPE html>
<html>
<head> 
<title>Video History</title>
  <link rel="stylesheet" href="https://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" type="text/css" href="/css/newstyle.css">
<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
</head>

<!-- <link rel="stylesheet" type="text/css" href="./style.css"> -->
<body>

<div id='navbar'>
  <ul>
    <li><a href='/'><span>Home</span></a></li>
    <li><a href='/about'><span>About Us</span></a></li>
    <%if (user) { %>
      <%if (user.admin) { %>
        <li><a href='/admin'><span>Admin Panel</span></a></li>
      <% } %>
      <li class='active'><a href='/history'><span>View History</span></a></li>
      <li><a href="/logout"> Logout </a></li>
      <li><p> Username: <%= user.username %> </p></li>
    <% } %>
    <%if (!user) { %>
      <li><a href='/login'><span>Log In</span></a></li>
      <li><a href='/register'><span>Register</span></a></li>
    <% } %>
   </ul>
</div>

<table id="videoTable" cellspacing="5" class="pure-table">
	<tr id="tableheader">
	   <th>ID</th>
	   <th>Thumbnail</th>
	   <th>Title</th>
	   <th>Date</th>
 	</tr>
</table>

<script type="text/javascript">
	var currentVideoID = 1;

	function loadNewTable(){
		$.getJSON("/api/gethistory/", function(videos) {
			$.each(videos, function(key, value) {
				$('<tr id="' + value.videoID + '" class="videoRow">').append(
					$('<td>').html('<a href="http://www.youtube.com/watch?v=' + 
					value.videoID + '">' + value.videoID + '</a>'),
					$('<td>').html('<img src="//i.ytimg.com/vi/' + value.videoID + '/default.jpg" />'),
					$('<td>').attr("id", "title"),
					$('<td>').text(value.time)
				).appendTo( "#videoTable" );
				$.getJSON("/api/getVidInfo/" + value.videoID, function(data) {
					$('#videoTable').find('#'+value.videoID).find('#title').text(data.items[0].snippet.title);
				});
			});
		});
	}	

	loadNewTable();
</script>

</body>
</html>
