<%if (!user) { %>
  <a href="/login"> Login </a>
  <br>
  <a href="/register"> Register </a>
<% } %>
<%if (user) { %>
  <p> You are currently logged in as <%= user.username %> </p>
  <a href="/logout"> Logout </a>
<% } %>