<!--   Created at: RPI RCOS 2015: Contact information: raghua@rpi.edu, martij@rpi.edu, metrom@rpi.edu, metroa@rpi.edu -->
<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type='text/javascript' src='./js/jQuery.tubeplayer.min.js'></script>
<link rel="stylesheet" type="text/css" href="./css/WeirdStyle.css">
<div id='cssmenu'>
<ul>
   <li class='active'><a href='/'><span>Home</span></a></li>
   <%if (user) { %>
    <%if (user.admin) { %>
      <li><a href='/admin'><span>Admin Panel</span></a></li>
    <% } %>
    <li><p> You are currently logged in as <%= user.username %> </p>
    <a href="/logout"> Logout </a></li>
   <% } %>
   <%if (!user) { %>
    <li><a href='/login'><span>Log In</span></a></li>
    <li><a href='/register'><span>Register</span></a></li>
   <% } %>
   <!--<li class='last'><a href='#'><span>About Us</span></a></li>-->
</ul>
</div>
<body>
<div  id='title'>
<t1>The Weird Part of YouTube</t1>
</div>
<div id='theatre-box'	>
<div  id='youtube-player-container'>
    <a class="playerbutton" onclick='
    document.querySelector("#theatre-box").style.visibility = "hidden";

    document.querySelector("#cssmenu").style.visibility = "visible";
    document.querySelector("#title").style.visibility = "visible";
    document.querySelector("#gobutt").style.visibility = "visible";

    jQuery("#youtube-player-container").tubeplayer("stop");'>
        <span>Exit</span>
    </a>
    <a class="playerbutton" onclick="playNextVid();">
        <span>Next</span>
    </a>
    <br>
  </div>

<a href="#" onClick='jQuery("#youtube-player-container").tubeplayer("play", document.getElementById("videoID").value)'>

</a>
</div>
    <a class="gobutton" id='gobutt' onclick="document.querySelector('#theatre-box').style.visibility = 'visible';
    document.querySelector('#cssmenu').style.visibility = 'hidden';
    document.querySelector('#title').style.visibility = 'hidden';
    document.querySelector('#gobutt').style.visibility = 'hidden';
    jQuery('#youtube-player-container').tubeplayer('play');">
        <span>Get Weird</span>
    </a>
</body>
<script type="text/javascript">
        function playNextVid() {
          $.getJSON("./api/getrandomvid", function(vid) {
            console.log(vid);
            jQuery("#youtube-player-container").tubeplayer("play", vid.vidID);
          });
        }
        $(document).keydown(function(e) {
                switch(e.which) {
                    case 39: // right (fast-forward)
                      playNextVid();
                    break;
                    case 32: // right (fast-forward)
                      playNextVid();
                    break;
                    default: return; // exit this handler for other keys
                }
                e.preventDefault(); // prevent the default action (scroll / move caret)
            });

        jQuery("#youtube-player-container").tubeplayer({
	width: 800, // the width of the player
	height: 600, // the height of the player
	allowFullScreen: "true", // true by default, allow user to go full screen
	initialVideo: "<%= videoID %>", // the video that is loaded into the player
	preferredQuality: "default",// preferred quality: default, small, medium, large, hd720
	onPlay: function(id){}, // after the play method is called
	onPause: function(){}, // after the pause method is called
	onStop: function(){}, // after the player is stopped
	onSeek: function(time){}, // after the video has been seeked to a defined point
	onMute: function(){},
	onPlayerEnded: function(){
		playNextVid();
        },
	onPlayerPlaying: function(){
		var theatrebox = document.querySelector("#theatre-box");
		theatrebox.style.visibility = "visibile";


		var title = document.querySelector("#title");
		title.style.visibility = "hidden";
	}, // after the player is muted
	onUnMute: function(){}, // after the player is unmuted
        // Error State Specific Functionality
	onErrorNotFound: function(){playNextVid();}, // if a video cant be found
	onErrorNotEmbeddable: function(){playNextVid();}, // if a video isnt embeddable
	onErrorInvalidParameter: function(){playNextVid();} // if we've got an invalid param
});</script>
</html>
