<!--   Created at: RPI RCOS 2015: Contact information: raghua@rpi.edu, martij@rpi.edu, metrom@rpi.edu, metroa@rpi.edu -->
<!DOCTYPE html>
<html>
<head>
  <title>Weird Side of YouTube</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="./css/newstyle.css">
  <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
  <style>
  #title {
    text-align: center;
    font-family: 'Barrio', cursive;
    font-size: 32px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100px;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(240, 240, 240);
  }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type='text/javascript' src='./js/jQuery.tubeplayer.min.js'></script>
  <script type='text/javascript'>
    window.initVid = '<%= videoID %>';
  </script>
</head>

<body>

  <div class="custom-menu-wrapper">
    <div class="pure-menu custom-menu">
      <a href="/" class="pure-menu-heading custom-menu-brand">Home</a>
      <a href="#" class="custom-menu-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
    </div>
    <div class="pure-menu pure-menu-horizontal pure-menu-scrollable custom-menu custom-menu-bottom custom-menu-tucked" id="tuckedMenu">
      <div class="custom-menu-screen"></div>
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About Us</a></li>
        <%if (user) { %>
          <%if (user.admin) { %>
            <li class="pure-menu-item"><a href="/admin" class="pure-menu-link">Admin Panel</a></li>
          <% } %>
          <li class="pure-menu-item"><a href="/history" class="pure-menu-link">View History</a></li>
          <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Logout</a></li>
          <li class="pure-menu-item"><a class="pure-menu-link custom-menu-brand"> Username: <%= user.username %></a></li>
        <% } %>
        <%if (!user) { %>
          <li class="pure-menu-item"><a href="/login" class="pure-menu-link">Login</a></li>
          <li class="pure-menu-item"><a href="/register" class="pure-menu-link">Register</a></li>
        <% } %>
      </ul>
    </div>
  </div>
  <script>
  (function (window, document) {
  document.getElementById('toggle').addEventListener('click', function (e) {
      document.getElementById('tuckedMenu').classList.toggle('custom-menu-tucked');
      document.getElementById('toggle').classList.toggle('x');
  });
  })(this, this.document);
  </script>

<div id='title'>
   <h1>Weird Side of YouTube</h1>
</div>

<div id='youtube-player-container'>
  <div id='youtube-player'></div>
</div>

<div id="playDiv">
  <a id="playerbutton" class="playerbutton" onclick="playNextVid();">
        <span>Next</span>
  </a>
</div>

<script type="text/javascript" src="videos.js"></script>

</body>


</html>
