<!--   Created at: RPI RCOS 2015: Contact information: raghua@rpi.edu, martij@rpi.edu, metrom@rpi.edu, metroa@rpi.edu -->
<!DOCTYPE html>
<html>
<head>
<title>Weird Side of YouTube</title>
  <link rel="stylesheet" type="text/css" href="./css/newstyle.css">
  <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
  <style>
  #title {
    text-align: center; 
    font-family: 'Barrio', cursive;
    font-size: 32px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 100px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(240, 240, 240);
  }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type='text/javascript' src='./js/jQuery.tubeplayer.min.js'></script>
</head>

<body>

<div id='navbar'>
  <ul>
    <li class='active'><a href='/'><span>Home</span></a></li>
    <li><a href='/about'><span>About Us</span></a></li>
    <%if (user) { %>
      <%if (user.admin) { %>
        <li><a href='/admin'><span>Admin Panel</span></a></li>
      <% } %>
      <li><a href='/history'><span>View History</span></a></li>
      <li><a href="/logout"> Logout </a></li>
      <li><p> Username: <%= user.username %> </p></li>
    <% } %>
    <%if (!user) { %>
      <li><a href='/login'><span>Log In</span></a></li>
      <li><a href='/register'><span>Register</span></a></li>
    <% } %>
   </ul>
</div>

<div id='title'>
   <h1>Weird Side of YouTube</h1>
</div>

<div id='youtube-player-container'>
  <div id='youtube-player'></div>
</div>

<div id="playDiv">
  <a id="playerbutton" class="playerbutton" onclick="playNextVid();">
        <span>Next</span>
  </a>
</div>

<script type="text/javascript" src="bundle.js"></script>

</body>


</html>
