body {
  background-color: rgb(25, 25, 25);
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}

input {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}

#navbar {
  background-color: rgba(74, 171, 5, 0.8);
  text-align: center;
}

#navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}

#navbar ul: after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
}

#navbar ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

#navbar ul li p {
  color: #E5C6E1;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 0px 15px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

#navbar ul li a {
  color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 15px 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

#navbar ul li a:hover {
  color: #333333;
}

#navbar ul li a:hover:before {
  width: 100%;
}

#navbar ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}

#navbar ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}

#navbar ul li.last > a:after,
#navbar ul li:last-child > a:after {
  display: none;
}

#navbar ul li.active a {
  color: #333333;
}

#navbar ul li.active a:before {
  width: 100%;
}

#navbar.align-right li.last > a:after,
#navbar.align-right li:last-child > a:after {
  display: block;
}

#navbar.align-right li:first-child a:after {
  display: none;
}

@media screen and (max-width: 768px) {
  #navbar ul li {
    float: none;
    display: block;
}

  #navbar ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  
  #navbar ul li.last > a
  #navbar ul li: last-child > a {
    border: 0;
  }
  #navbar ul li a:after {
    display: none;
  }
  #navbar ul li a:before {
    display: none;
  }
}

#title {
  text-align: center;
  font-family: 'Helvetica';
  font-size: 32px;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 100px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(240, 240, 240);
}

#textbody {
  text-align: center;
  font-variant: normal;
  font-size: 16px;
  font-weight: lighter;
  width: 85%;
  font-family: 'calibri';
  color: rgb(240, 240, 240);
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(25, 25, 25);
  box-shadow: 0px 0px 100px rgb(50, 50, 50);
}

#rpi_logo {
  text-align: center;
  max-width: 400%;
  max-height: 400%;
  width: auto;
  height: auto;
  margin: auto;
}

#youtube-player-container {
    z-index: 35;
    margin: auto;
    padding-top: 0%;
    text-align: center;
    width: 80%;
}

#playDiv {
  text-align: center;
}

.playerbutton {
  background: rgb(203, 242, 237);
  background-image: linear-gradient(to bottom, #707070, #333333);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  border: solid #000 2px;
  text-decoration: none;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  text-align: center;
  width: 100px;
}

.playerbutton span {
  display: inline;
  padding: 35px 40px 20px 40px;  
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Tahoma', sans-serif;
  font-size: 32px;
}

.playerbutton:hover,
.playerbutton.hover {
  background: rgb(203, 242, 237);
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.playerbutton:active,
.playerbutton.active {
  background-color: #AAA;
  text-shadow: -1px 1px #193047;
}

